

header {
  padding: 1em 0;

  a{
    color: white;
    text-decoration: none;
  }

  a.logo{
    font-weight: bold;
  }

  nav{
    float:right;

    ul{
      list-style-type: none;
      margin: 0;
      margin-left: 65px;
      display: flex;
    }

    li a{
      padding: 1em;

      &:hover{
        background: lighten($color: #000000, $amount: 0);
      }
    }
  }
}


